{% extends 'main.html' %}

{% block content %}
<div style="width: 100%; height:70px; background-color:black"></div>
<div style="margin-top:30px; text-align:center">
    <h1>You Have Successfully rented the car <strong>{{rentcar.car.name}}</strong></h1>
    <h2>The details are:</h2>
    <table border="2" style="width:50%;margin:0 auto;border-collapse:collapse;text-align:center; font-size:18px;">
        <tr >
            <th>Username</th>
            <th>{{user.name}}</th>
        </tr>
        <tr>
            <th>Car Name</th>
            <th>{{rentcar.car.name}}</th>
        </tr>
        <tr>
            <th>Starting Date-Time</th>
            <th>{{rentcar.startdatetime}}</th>
        </tr>
        <tr>
            <th>Ending Date-Time</th>
            <th>{{rentcar.enddatetime}}</th>
        </tr>
        <tr>
            <th>Total Time</th>
            <th>{{rentcar.time}}</th>
        </tr>
        <tr>
            <th>Total Cost</th>
            <th>{{rentcar.cost}}</th>
        </tr>
    </table>
    <h2><strong>Thank You!!!</strong></h2>
{% endblock %}